# Substraction of two numbers

In [143]:
a = 5
b = 3
#substact two numbers
c = a - b
print (su)

In [ ]:
#

# Swapping Two Numbers without Temp Variable

In [130]:
a = 1
b = 2
#swapping number without temp variables
a, b = b, a
print ("a =", a)
print ("b =", b)

a = 2
b = 1

# # Swapping Two Numbers with help of Temp Variable

# x = 15
y = 30

temp = x
x = y
y = temp

print ('value of x after swapping:{}',format(x))
print ('value of y after swapping:{}',format(y))

# converting Fahernheit to kelvin

In [131]:
#converting Fahernheit to kelvin 
def Fahrenheit_to_Kelvin(F): 
	return 273.5 + ((F - 32.0) * (5.0/9.0)) 

F = 99
print("Temperature in Kelvin ( K ) = {:.3f}"
			.format(Fahrenheit_to_Kelvin( F )))

Temperature in Kelvin ( K ) = 310.722

# intergers data types

In [31]:
#integers with example
num1 = 100

num2 = 200

type (num1)

int

In [26]:
type (num2)

int

In [29]:
num1*num2

20000

# float data types

25.3, 46.12, 55.1251, 955.21556

In [32]:
num1 = 25.3
type (num1)

float

In [33]:
num2 = 955.21556
type (num2)

float

# String words and sentences

"abhishek" "electronics" "data sciecnce"

In [35]:
name1 = "abhishek"
name2 = "electronics"
name3 = "data science"

type (name1)

str

In [36]:
type (name2)

str

In [37]:
type (name3)

str

In [38]:
name1.lower()

'abhishek'

In [39]:
name2.lower()

'electronics'

In [41]:
name3.lower()

'data science'

# list = List is collection of different data types

i am studying at DKTE
sky is blue
data science is popualar in 21st century

#list it may be numbers, characters and names, float

In [73]:
lst = ["i am studying at DKTE", "sky is blue", 24.515, 25, [12,42]]

In [74]:
type (lst)

list

In [75]:
lst [2]

24.515

In [76]:
lst [0]

'i am studying at DKTE'

In [77]:
lst [1]

'sky is blue'

In [81]:
lst [4][1]

42

In [83]:
lst [4][0]

12

In [84]:
lst.append ("Data Science is popular field")

In [85]:
lst

['i am studying at DKTE',
 'sky is blue',
 24.515,
 25,
 [12, 42],
 'Data Science is popular field']

In [86]:
lst.pop()

'Data Science is popular field'

In [87]:
lst

['i am studying at DKTE', 'sky is blue', 24.515, 25, [12, 42]]

# Dictionaries is an unordered key values

In [104]:
dit = {"Key1":100, "Key2":200, "Key3":300}

dit.get("Key1")

100

In [107]:
dit.get("key3")

In [116]:
dit_person_details = {"name":"Abhishek", "number":"123456789", "email":"alole36@gmail.com", "age":"25"}

In [117]:
dit_person_details.get ("number")

'123456789'

In [119]:
dit_person_details.get ("email")

'alole36@gmail.com'

In [120]:
dit_person_details.get ("age")

'25'

In [121]:
dit_person_details.get ("name")

'Abhishek'

In [122]:
dit.keys()

dict_keys(['Key1', 'Key2', 'Key3'])

In [123]:
dit.items()

dict_items([('Key1', 100), ('Key2', 200), ('Key3', 300)])

In [125]:
dit.values()

dict_values([100, 200, 300])

In [126]:
dit_person_details.values()

dict_values(['Abhishek', '123456789', 'alole36@gmail.com', '25'])

# Write a program to subtract two complex numbers in Python

In [2]:
c1 = 1-2j
type (c1)
print (c1)

(1-2j)

In [3]:
c2 = 2-3j
type(c2)
print (c2)

(2-3j)

In [4]:
c1 - c2

(-1+1j)

# Write a program to find the fourth root of a number

In [1]:
#to take the input from user 
number = float(input ('enter the number')) 
root = number ** 0.25
print ('The 4th root of %f is %f'%(number,root))

enter the number16
The 4th root of 16.000000 is 2.000000